<div class='top_index_header_nav'>
  <ul>
    <!-- ここのhoverを後ろに画像を突っ込んでそれを動かしていいかんじのhoverにする -->
    <%= link_to '#' do %>
      <li>TOP</li>
    <% end %>
    <%= link_to '#' do %>
      <li>PROGRAM LIST</li>
    <% end %>
    <%= link_to '#' do %>
      <li>HOW TO LISTEN</li>
    <% end %>
    <%= link_to '#' do %>
      <li>ABOUT FANCERS</li>
    <% end %>
    <%= link_to '#' do %>
      <li>COMPANY</li>
    <% end %>
  </ul>
  <%= link_to '#' do %>
    <div class='top_index_header_nav__right'>
      <%= fa_icon("reply") %>
      <span>GO TO HELL</span>
    </div>
  <% end %>
</div>
<div class='block_wrap'>
</div>

