<%= provide :title ,"top"%>
<div class='top_index_topside_content_box'>
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
  <div class='top_index_body'>
    <div class='top_index_title_box'>
    Fancers
     <!--  <p>このウェブサイトは森田と足立のweb技術の向上を目的に制作してします。</p>
      <p>下記の画像リンクから、その成果物をみることができます。</p> -->
    </div>
    <div class="top_index_websites">
      <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'design-tools'%>
            <div>design-tools</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'design-tools'%>
            <div>design-tools</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'hotdogs'%>
            <div>hotdogs</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'junk-mail'%>
            <div>junk-mail</div>
          </div>
        <% end %>
      </div>
      <br>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'kiwis'%>
            <div>kiwis</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'alchemy'%>
            <div>alchemy</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'neon-autumn'%>
            <div>autumn</div>
          </div>
        <% end %>
      </div>
       <div class="top_index_websites__site_link">
        <%= link_to '#' do %>
          <div class="top_index_websites--img-circle">
            <%= image_tag 'nyc-candy'%>
            <div>nyc-candy</div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="top_index_topic">
    </div>
  </div>
</div>
