<%= provide :title ,'Fencers 公式ホームページ'%>
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fencers 公式HP</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="js/base.js"></script>
        <link rel="stylesheet" href="css/base.css" media="all" charset="utf-8">
    </head>
    <body> -->
        <div id = "basecontent">
                <header>
                        <p>
                          <%= image_tag("icon") %>
                        </p>
                        <nav>
                          <ul>
                            <li><a href="#animation">概要</a></li>
                            <li><a href="#member">メンバー紹介</a></li>
                            <li><a href="#subpage">活動内容</a></li>
                            <li><a href="#boxx">ニュース</a></li>
                          </ul>
                        </nav>
                </header>
            <div id="slide">
                 <%= image_tag("slide2") %>
                 <%= image_tag("slide3") %>
                 <%= image_tag("slide1") %>
                    <div class = "box">
                        <p>Fencers</p>
                    </div>
            </div>
            <div id="animation">
                <h1>Fencersへようこそ</h1>
                <p>Fencersは、「あなたの創造を現実に」をモットーに活動しているWebページ作成サークルです。<br>週に2日ほど集まり、メンバーで意識高くWeb知識を学び、Webページ作成に力を入れています。<br>またWebプログラミングの学習合宿やイベントなど積極的に参加もしています。<br>
                少しでも興味がありましたら、あなたもWebページを作ってみませんか？
                </p>
            </div>
                <div id="member">
                    <div class="people1">
                        <center>
                            <%= image_tag("people2") %>
                            <p>read more...</p>
                        </center>
                    </div>
                    <div class="people2">
                        <center>
                        <%= image_tag("people1") %>
                        <p>read more...</p>
                        </center>
                    </div>
                    <div class="people3">
                        <center>
                        <%= image_tag("people3") %>
                        <p>read more...</p>
                        </center>
                    </div>
                </div>
                <div id = "subpage">
                    <h1>Fencersの活動内容</h1>
                    <div class="behav1 js-animation">
                            <center>
                                <p>1.もくもく会<p>
                                <%= image_tag("benkyou") %>
                            </center>
                    </div>
                    <div class="behav2 js-animation">
                            <center>
                                <p>2.イベント参加<p>
                                <%= image_tag("people2") %>
                            </center>
                    </div>
                    <div class="behav3 js-animation">
                            <center>
                                <p>3.サービス開発</p>
                                <%= image_tag("image") %>
                            </center>
                    </div>
                </div>
                <div id="boxx">
                    <div class="box27">
                        <span class="box-title">ここにタイトル</span>
                        <p>ここに文章</p>
                    </div>
                </div>
            <footer>
                <br><br><br>
                <small><p>Copyright(c) 2019 Fencers.</p></small>
                <div id="pagetop">
                  <a href="#basecontent">
                    <%= image_tag("footer") %>
                  </a>
                </div>
            </footer>
        </div>
