<%= provide :title ,'top'%>
<div class='top_index_body'>
  <div class='top_index_title_box'>
    <p>FANCERS</p>
    <div class='top_index_title_box__square'>
      <%= image_tag 'ahoy' %>
    </div>
    <span class='top_index_title_box__first_line_black'>FANCERS IS A KIND OF WEB COMMUNITY IN </span>
    <span class='top_index_title_box__first_line_white'>KUT</span>
    <span class='top_index_title_box__first_line_black'>.</span>
  </div>
  <div class='top_index_tutorial_box'>
    <div class='top_index_tutorial_box__base'>
      <div class='circle-img-300'>
        <%= image_tag 'design-tools' %>
      </div>
      <p>
        1.対決します
      </p>
    </div>
    <div class='top_index_tutorial_box__base'>
      <div class='circle-img-300'>
        <%= image_tag 'design-tools' %>
      </div>
      <p>
        2.登壇します
      </p>
    </div>
    <div class='top_index_tutorial_box__base'>
      <div class='circle-img-300'>
        <%= image_tag 'design-tools' %>
      </div>
      <p>
        3.イベントをやります
      </p>
    </div>
  </div>
</div>
